.container {
    display: block;
    grid-row: 1;
}

.grid {
    display: grid;
    grid-gap: 2px;
    border: 2px solid lightgray;
    background: lightgray;
}

.cell_obstacle {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, serif;
    font-size: 10px;
    font-weight: bold;
    background: #393939;
}

.cell_boundary {
  /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial, serif;
  font-size: 10px;
  font-weight: bold;
  background: #393939;
}

.cell_empty {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, serif;
    font-size: 10px;
    font-weight: bold;
    background: white;
}

.cell_target {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, serif;
    font-size: 10px;
    font-weight: bold;
    background: forestgreen;
}

.cell_charger {
        /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, serif;
    font-size: 10px;
    font-weight: bold;
    background: #ff7700;
}

.cell_selected {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, serif;
    font-size: 10px;
    font-weight: bold;
    border-style: solid;
    border-bottom-width: medium;
    border-bottom-color: black;
    background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}